package templates
templ Page(nav bool) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Shop</title>
			<script src="https://unpkg.com/htmx.org@1.9.2"></script>
		</head>
		<body>
            if nav{
                <nav >
					<a href="/products">product</a>

					<a href="/user" >account</a>
				</nav>
            }
            {children... }
		</body>
	</html>
}
